<%- include('../adminLayout/header.ejs') %>

<main id="main" class="main">
  <div class="pagetitle">
      <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/adminDahboard">Home</a></li>
        <li class="breadcrumb-item">Banner</li>
        <li class="breadcrumb-item active">Banner list</li>
      </ol>
    </nav>
  </div>
  <div class="container d-flex justify-content-end mb-4">
    <a href="/admin/adminAddBanner" class="btn btn-warning">Add New Banner</a>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <!-- Table with stripped rows -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scop="col">Banner Image</th>
                  <th scope="col">Main heading</th>
                  <th scope="col">Sub heading</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>

              
        <tbody>
          <% if(bannerData.length> 0 ){ %>
        <% for(let i=0;i<bannerData.length;i++){%>
          <tr>
            <td><img style="height: 60px; width: 133px;" src="<%=bannerData[i].bannerImage %>" alt=""></td>
            <td><%=bannerData[i].mainHeading %></td>
            <td><%=bannerData[i].subHeading %></td>
            <td><%=bannerData[i].description %></td>
            <td><a href="/admin/deleteBanner?bannerId=<%= bannerData[i]._id %>" class=" btn btn-danger btn-sm">Delete</a></td> 
            <td><a href="/admin/editBanner?bannerId=<%= bannerData[i]._id %>" class="btn btn-primary btn-sm">Edit</a></td> 
            <% if(bannerData[i].status === 0){ %>
            <td><a href="/admin/listBanner?bannerId=<%= bannerData[i]._id %>" class="btn btn-warning btn-sm">Unlist</a></td>
            <% } else {%>
              <td><a href="/admin/listBanner?bannerId=<%= bannerData[i]._id %>" class="btn btn-success btn-sm">List</a></td>
            <% } %>   
          </tr>

          <% } %>
       <% }else{ %>
        <tr>
            <td colspan="2">Banner Not found</td>
        </tr>
       <%  }  %>
        
      </tbody>
        
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include('../adminLayout/footer.ejs') %>
