<%- include('../partials/header.ejs') %>
<section class="ftco-section">
  <div class="container">
    <div class="d-flex" style="flex-direction: column">
      <div class="row justify-content-center ">
        <div class="col-md-6 col-lg-5 border m-5">
          <div class="login-wrap p-4 p-md-5">

            <% if (typeof errorMessage !== 'undefined' && errorMessage !== null) { %>
              <div id="error-container">
                <p style="font-size: small; color: red; font-family: 'Tilt Warp', cursive;" class="justify-content-center">
                  <%= errorMessage %>
                </p>
              </div>
            <% } %>
            

            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-user-o"></span>
            </div>
            <h3 class="text-center mb-4">
              Reset Password
            </h3>

            <form action="/forgotPassword/verifyOTP" method="post" class="login-form " >
                <input type="hidden" name="email" id="email" value="<%= email %>">
              <div class="form-group ">
                <input
                  type="text"
                  id="otp"
                  name="otp"
                  class="form-control"
                  placeholder="Enter OTP"
                  required
                />
              </div>

              <div class="form-group">
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="New password"
                  required
                />
                <span id="password-error" style="color: red"></span>
              </div>

              <div class="form-group">
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  class="form-control"
                  placeholder="Confirm password"
                  required
                />
                <span id="confirmPassword-error" style="color: red"></span>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary rounded submit p-3 px-5">
                  Save
                </button>
              </div>
            </form>

            <form action="/forgotPassword/sendOTP" method="post">
              <div class="form-group">
                <input type="hidden" name="email" id="email" value="<%= email %>">
                <button type="submit" class="btn btn-warning text-white rounded p-3 px-5">
                  Get OTP
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer.ejs') %>
<script>
  const password = document.getElementById("password");
  const confirmPassword = document.getElementById("confirmPassword");

  const passwordError = document.getElementById("password-error");
  const confirmPasswordError = document.getElementById("confirmPassword-error");
  const passwordPattern = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

  function validatePassword() {
    if (!password.value.match(passwordPattern)) {
      passwordError.textContent =
        "Password must be at least 8 characters long and include at least one letter, one number, and one special character (@$!%*?&)";
    } else {
      passwordError.textContent = "";
    }
  }

  function validateConfirmPassword() {
    if (confirmPassword.value !== password.value) {
      confirmPasswordError.textContent = "Passwords do not match";
    } else {
      confirmPasswordError.textContent = "";
    }
  }

  function validateForm(event) {
    validatePassword();
    validateConfirmPassword();

    if (passwordError.textContent || confirmPasswordError.textContent) {
      event.preventDefault();
    }
  }

  password.addEventListener("input", validatePassword);
  confirmPassword.addEventListener("input", validateConfirmPassword);

  const form = document.querySelector("form.login-form");
  form.addEventListener("submit", validateForm);
</script>
